[submodule "refs/wayscrollshot"]
	path = refs/wayscrollshot
	url = https://github.com/jswysnemc/wayscrollshot.git
[submodule "refs/mark-shot"]
	path = refs/mark-shot
	url = https://github.com/jswysnemc/mark-shot.git
[submodule "aur"]
	path = aur
	url = https://aur.archlinux.org/wlsnap-bin.git
