pkgbase = wlsnap
	pkgdesc = Wayland screenshot utility - CLI-driven capture with editing, Pin, and scrolling support
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/lingdiansr/wlsnap
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = libxkbcommon
	makedepends = pkgconf
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	source = wlsnap-0.1.0.tar.gz::https://github.com/lingdiansr/wlsnap/releases/download/0.1.0/wlsnap-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = wlsnap
